<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body class=" ">
    {{>nav}}
    <div class="main-container">
        <form>
            <br/>
            <div class="col-sm-8">
                <label>Email Address:</label>
                <input type="email" name="email" placeholder="Email Address">
            </div>
            <br />
            <div class="col-sm-8">
                <label>Password:</label>
                <input type="password" name="password" placeholder="Password">
            </div>
        </form>
    </div>
    {{>footer}} {{>scripts}} {{>lightbox}}
</body>

</html>