<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body class=" ">
  {{>nav}}
    <div class="main-container">
        <h1>{{name}} {{city}} {{state}}</h1>
        <h3>Hello Potential New Tenent</h3>   
    </div>
    {{>footer}} {{>scripts}}
</body>

</html>